* {
    color: #7EA3CC;
}

H1 {
    font-size: 34px;
    font-weight: bold;
    background: #7EA3CC;
    padding: 20px;
    width: 220px;
    height: 25px;
    position: relative;
    left: 160px;
    top: 9px;
    color: white;
}

header {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    float: right;
    padding: 5px;
    margin: 5px;
    top: -12px;
    right: 75px;
    background: #8FBC8F;
    z-index: 2;
    color: white;
}

section {
    position: relative;
    float: center;
    width: 960px;
    background: #262626;
    margin: 0 auto 0 auto;
    top: 50px;
}
hr {
    z-index: 1;
    color: black;
}

body {
    background-color: #8FBC8F;
    
}






